h1 {
    color: red;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.82)), 
                  url('https://images.unsplash.com/photo-1613545325278-f24b0cae1224') no-repeat center center/cover;
      z-index: -1;
      background-attachment: fixed;
}